@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="margin-top: 1em;" class="display-4">Welcome to IT Support Team Tickets</h1>
    <p>Created by Michael Lakostik</p>
</div>
